

/* Classes */

.center {
  text-align: center;
}
/* I wanted to creat a contrast with the background to make it easier to read */

.darkbg {
  background-color: rgb(51, 51, 51);
  color: white;
  margin: 10px;
   border-radius: 70px;
   padding-top: 10px;
   padding-bottom: 0px;
}

/* Wanted to center the images */

.imgCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* img center didnt move the map to the correct location, this code does that for me */
  .google-maps {
        position: relative;
        padding-bottom: 100%; // This is the aspect ratio
        border-radius: 100px;
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 85% !important;
    }

/* moving the classes for the google map as requested*/

.map {
  frameborder: "0";
  scrolling: "no";
  marginhieght: "0";
  Marginwidth: "0";

}

.mapouter {
  position:relative;
  text-align:center;
  height:500px;
  width:600px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:500px;
   width:600px;
}

/* Overall CSS */
/* creates a background that contrasts nicely with darkbg */
body {
  background-image: url(images/red.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100% 100%;
}

h1 {
  color: white;
  font-size: 56px;
  position: relative;
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 23px;
}

a:link {color: #ffffff}
a:visited {color: #ff0000}
a:hover {color: #000000}
a:active {color: #a3a3a3}

/* using what i learned from adventure drill to make it more appealing */

header {
  color: #fff;
  font-family: arial;
  background-color: #36b3a8;
  padding: 15px 40px;         
  border-radius: 0px;       
}
/* positions my nave links to the correct locations */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
/* creates the bubbles my nav links are in with a custom background */
nav a {
  margin-right: 200px ;
  font-size: 18px;
  font-family: Quattrocento, sans-serif;
  color: #fff;
  background-image: url(images/galaxy.png);
  padding: 5px 20px;         
  border-radius: 100px;
  text-decoration: none;
}
/* aligns the nav bar */
nav a:last-of-type {
  margin-right: 20px;
v
}
/* creates a custome text texture, visually pleasing */
footer {
 -webkit-background-clip: text; -webkit-text-fill-color: transparent; background-image: url(images/galaxy.png);
 font-size: 18px;

}
/* ensures all text is located in the darkbg class */
p {
  margin-left: 50px;
  margin-right: 50px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-family: cursive;
}

ul {
  display: inline-block;
  text-align: left;
}

div {
  text-align: center;
}

ol {
  display: inline-block;
  text-align: left;
}

@media all and (max-width: 750px) {
 nav a {
  margin-right: 50px ;
  font-size: 18px;
  font-family: Quattrocento, sans-serif;
  color: #fff;
  background-image: url(images/galaxy.png);
  padding: 5px 20px;         
  border-radius: 100px;
  text-decoration: none;
}
}

@media all and (max-width: 480px) {
  nav a {
  margin-right: 100px ;
  font-size: 12px;
  font-family: Quattrocento, sans-serif;
  color: #fff;
  background-image: url(images/galaxy.png);
  padding: 5px 5px;         
  border-radius: 100px;
  text-decoration: none;
} 

h1 {
  color: white;
  font-size: 30px;
  position: relative;
  text-align: center;
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 18px;
}
}